html
  head
      title = title
      link(href=css rel="stylesheet")
  body
      h1 = message
      div(id="app")
      //- script(src="http://locahost:8080/@vite/client" type="module")
      //- script(src="http://locahost:8080/src/main.ts" type="module")
      //- script(src=vendor)
      script(src=index)

