:root {
  // light
  --vt-c-bg-white: #fff;
  --vt-c-bg-black: #000;
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);

  // dark
  --vt-c-text-black: #000;
  --vt-c-text-white: #fff;
  --vp-code-block-bg: #c0c0c0;
}

html {
  --color-background: var(--vt-c-bg-white);
  --color-text: var(--vt-c-text-black);
}

html.dark {
  --color-background: var(--vt-c-bg-black);
  --color-text: var(--vt-c-text-white);
}

body,
html {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--color-text);
}

img {
  max-width: 100%;
  display: block;
}
